<h1>Hire The Monkees!</h1>

<div class="container">
    <div class="row">
       <div class="col-sm-4">
             <h3>Weddings</h3>
             <p>The Monkees are available for wedding hire. A full range of wedding band services are offered and a tailor made wedding band package can be made for your individual needs. Along with all of your favourite hits from The Monkees, we can also learn additional songs of your choice, so you can have your first dance to your perfect song. Please contact us using the form below to make an enquiry.</p>
       </div>
       <div class="col-sm-4">
             <h3>Parties<h3>
             <p>The Monkees are also available to be hired for parties and private functions. A 30, 60 or 90 minute gig can be arranged </p>
       </div>
       <div class="col-sm-4">
             ...
       </div>
    </div>
    <div class="row">
         ...
    </div>
</div>