<div class="container">
		<div class="jumbotron text-center">
	 	 <h1>The Monkees!</h1>
	 	 <p>Hey Hey! We're the Monkees!</p> 
		</div>
		<img src="projectassets/img/monkees.jpg" alt="The Monkees" style="width: 100%">
	    <h1>News</h1>
	    <p>The latest updates for the band that brought you such hits as Daydream Believer, Last Train to Clarksville and I'm a Believer!</p>

	<div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">01/12/2017 - Upcoming Dates</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>The Monkees! are back on tour in the UK in 2018! Check out our Live Dates pages for more details.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">25/10/2017 - Happy Anniversary</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>We're celebrating 50 years since the release of Daydream Believer, our US number 1  hit single.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">10/01/2016 - TV</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>It's been 50 years since the start of our TV show! The complete box set of the show is available to buy on DVD now. <a href="https://www.amazon.co.uk/Monkey-Complete-DVD/dp/B0002PC2RC/ref=sr_1_1?s=dvd&ie=UTF8&qid=1508154514&sr=1-1&keywords=the+monkees&refinements=p_n_feature_two_browse-bin%3A549962011" target="_blank">Click here to buy from Amazon</a></p>
                    </div>
                </div>
            </div>
        </div>

</div>