<div class="container">
	<h1>Music</h1>
	<p>
		Our music has spanned several decades and is still as popular today thanks to our ever supportive fans. 
		To say thank you to our loyal fans we'd like to share free access to some of our most loved hits.
	</p>
    
	<ul class="list-group">
	    <li class="list-group-item">
		<span class="glyphicon glyphicon-film"></span>  Videos
	    </li>
	    <div style="text-align:center">
	    	<br><br>
	    <video controls id="video" width="320" height="240">
	    	<source src="projectassets/video/TheMonkees.mp4" type="video/mp4">
	    	Your browser does not support the video format.
	    </video>
		</div>
	    <div>
	    <li class="list-group-item active">
	        <span class="glyphicon glyphicon-music"></span>  Songs
	    </li>
	    <audio controls>
	    	<source src="projectassets/audio/20 - Daydream Believer.mp3" type="audio/mp3">
	    		Your browser does not support the audio format.
	    </audio>
	    <audio  controls>
	    	<source src="projectassets/audio/02 - Last Train To Clarksville.mp3" type="audio/mp3">
	    		Your browser does not support the audio format.
	    </audio>
	    <audio controls>
	    	<source src="projectassets/audio/07 - I'm A Believer.mp3" type="audio/mp3">
	    		Your browser does not support the audio format.
	    </audio>
	    <audio controls>
	    	<source src="projectassets/audio/06 - (I'm Not Your) Steppin' Stone.mp3" type="audio/mp3">
	    		Your browser does not support the audio format.
	    </audio>
	    <div>
	</ul>
</div>