<div class="container">
    <h2>Newsletter Registration</h2>
    <div class="row">
        <h5>Sign up below to receive our monhtly newsletter and regular gig listings.</h5>
        <p>Your information will be stored securely and will not be used for any other purposes than for email updates.</p>
        <div class="col-sm-4">
            <form name="registrationForm" validate>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control"required>
                    <p data-ng-show="registrationForm.name.$pristine" class="help-block">Your name is required</p>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="inputEmail" name="email" class="form-control" required>
                    <div class="help-block with-error"></div>
                    <p data-ng-show="registrationForm.email.$pristine" class="help-block">Your email address is required</p>
                </div>
                <button type="submit" class="btn btn-primary" data-ng-disabled="registrationForm.$invalid">Register</button>
                </script>
            </form>
        </div>
    </div>
</div>
